@font-face {
    font-family: 'adam';
    src:url('../font-style/Adam.otf') format('opentype');
}

@font-face {
    font-family: 'roboto';
    src: url('../font-style/RobotoCondensed-Light.ttf') format('truetype');
}

* {
    font-family: 'roboto';
    color: rgb(73, 73, 73);
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/toulouse.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#welcome {
    font-family: 'adam';
    font-variant: all-small-caps;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
}


hr {
    margin: 0;
    border: none;
    height: 3px;
    background-image: linear-gradient(to right, #f8bbd000, #f8bbd0, #f8bbd0, #f8bbd000);
}

#title-app {
    color: #f8bbd0;
    font-style: oblique;
    font-weight: 300;
    font-size: 60px;
}

#text-slider {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    background-color: #464646;
    padding: 20px 0;
    font-family: 'roboto';
    font-variant: small-caps;
    font-style: oblique;
    color: #f8bbd0;
    text-align: center;
    font-size: 35px;
}

/************************ ICONS ************************/

.fas {
    color: white;
    cursor: pointer;
}

.button {
    cursor: pointer;
    background-color: white;
    border: 1px solid #f8bbd0;
    padding: 5px;
    font-weight: bold;
    color: #464646;
    cursor: pointer;
}

/************************ HEADER ************************/

#header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#slider {
    position: relative;
    width: 1200px;
}

#slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

#slider-control {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
}

#slider-control:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#slider-control .control {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-control #playing {
    width: 90%;
    opacity: 0;
}

#slider-control #playing:hover {
    opacity: 1;
}

/************************ MAIN ************************/

#main {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #464646;
}

#container-map {
    position: relative;
    width: 70%;
    height: 90%;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.4), 0px 4px 5px 0px rgba(0,0,0,0.3), 0px 1px 10px 0px rgba(0,0,0,0.2);
}

#map {
    width: 100%;
    height: 100%;
}

#info-station {
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 1px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#top h3 {
    margin: 0;
}

#info-station-closed {
    color: black;
    cursor: pointer;
}

#info-station-closed:hover {
    color: red;
}

#bottom {
    display: flex;
    justify-content: center;
}

/************************ RESERVATION ************************/

#reservation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 4s;
}

#content-reservation {
    z-index: 1;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.input {
    border: 1px solid;
    border-radius: 2px;
    padding: 2px;
}

/************************ CANVAS ************************/

#canvas {
    width: 300px;
    height: 150px;
    border: 1px solid #45505b;
    border-radius: 2px;
}


/************************ FOOTER ************************/

#footer {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#status-reservation,
#time {
    color: white;
    font-size: 22px;
}

#status {
    width: 100%;
}

@media (max-width: 1240px) {
    #slider {
        width: auto;
    }
}

@media (max-width: 767px) { 
    
    #header {
        height: 370px;
    }

    #welcome {
        font-size: 25px;
    }

    #title-app {
        font-size: 40px;
    }

    #slider {
        width: auto;
    }

    #slider-control .control {
        width: auto;
    }

    #text-slider {
        font-size: 20px;
    }

    #container-map {
        width: 98%;
    }

    #info-station {
        width: auto;
    }

    #content-reservation {
        padding: 2px;
        width: auto;
    }

    #footer {
        height: auto;
        text-align: center;
        padding: 10px 0;
    }
}
